header {
    background-color: #43a1ee;
    background-image: url("../elizabeth-lies-T9Gsevu_N8Y-unsplash.jpg");
    background-attachment: local;
    background-position: center;
    background-size: cover;
}

.img {
    width: 20em;
    height: 20em;
}
